<h1>My Models</h1>

<table class="table">
  <tr>
    <th>Name</th>
  </tr>

<!-- display the list of models here
     you do not need to use a partial -->

     <% @models.each do |model| %>
       <tr>
         <td><%= model.name %></td>
       </tr>
     <% end %>

</table>

<br />

<%= link_to "Add Model", new_model_path %>
